{% macro search_result(result) %}
  <article class="vm-teaser vm-teaser--search">
    <div class="vm-teaser__figure" style="width:20%;max-width:80px;">
      <a href="{{result.link}}" style="background-image:url({{result.teaserImage}})" class="u-background-image" aria-label="{{result.title}}">
        <ucdlib-icon icon="{{result.teaserIcon}}"></ucdlib-icon>
      </a>
    </div>
    <div class="vm-teaser__body">
      <div class="vm-teaser__title"><a href="{{result.link}}">{{result.title}}</a></div>
      <div class="vm-teaser__result-type">
        {% if result.libraryGroupType %}
          <span>{{result.libraryGroupType}} | </span>
        {% endif %}
        <span>{{result.typeFacet.labelSingular}}</span>
      </div>
      <div class="vm-teaser__summary">
        {% if result.type == 'news' %}
          <ul class='list--pipe'>
          {% if result.authorNames|length %}
            <li>{{result.authorNames|join(', ')}}</li>
          {% endif %}
          {% if result.created %}
            <li>{{result.created|date('F j, Y')}}</li>
          {% endif %}
          <li style='display:inline;'>{{result.teaserExcerpt}}</li>
          </ul>
        {% else %}
          <div>{{result.teaserExcerpt}}</div>
        {% endif %}
      </div>
    </div>
  </article>
{% endmacro %}
